# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\maxna\OneDrive - yncréa\_UQAC\_Cours\2. Trimestre Hiver\Programmation objet avancée\TP 2\Code jeu échec\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
